<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
 "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Incogine Studio</string>
    <key>CFBundleDisplayName</key>
    <string>Incogine Studio</string>
    <key>CFBundleExecutable</key>
    <string>incostudio</string>
    <key>CFBundleIdentifier</key>
    <string>com.leafstudiosDot.incogine.studio</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSQuitAlwaysKeepsWindows</key>
    <false/>
    <key>NSRestorable</key>
    <false/>
</dict>
</plist>